.main-home-loan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
}
.main-block {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-form {
    max-width: 1170px;
    width: 100%;
    padding: 120px 20px 0;
}
h1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-block {
    padding: 0 0 32px;
}
.form-block:first-of-type {
    padding-top: 32px;
}
.form-input-block {
    display: flex;
    gap: 24px 66px;
    flex-wrap: wrap;
}






.top-line {
    border-top: 1px solid #333535;
    padding-top: 32px;
}

.btn-block {
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    padding: 0 20px 32px;
}
.btn {
    border: none;
    justify-content: flex-end;
    width: 249px;
    padding: 17px 16px;
    text-align: center;
    border-radius: 8px;
    background: #FBE54D;
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}
.btn:disabled {
    background: #2D2D2D;
    color: #848484;
}



@media only screen and (max-width: 1170px) {
    .main-form {
        padding: 120px 61px 0;
    }
}



@media only screen and (max-width: 860px) {
    .main-form {
        padding: 120px 20px 0;
    }
    h1 {
        font-size: 31px;
    }
    .form-input-block {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }
    .btn {
        min-width: 350px;
        width: 100%;
    }
}
